modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dashboard-dev"

[[workflows.workflow]]
name = "dashboard-dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35797
externalPort = 8000

[[ports]]
localPort = 35883
externalPort = 4200

[[ports]]
localPort = 36281
externalPort = 8008

[[ports]]
localPort = 36917
externalPort = 3000

[[ports]]
localPort = 37493
externalPort = 3002

[[ports]]
localPort = 38065
externalPort = 5000

[[ports]]
localPort = 38985
externalPort = 5173

[[ports]]
localPort = 39509
externalPort = 3001

[[ports]]
localPort = 39799
externalPort = 6800

[[ports]]
localPort = 40517
externalPort = 8081

[[ports]]
localPort = 40863
externalPort = 9000

[[ports]]
localPort = 42401
externalPort = 8080

[[ports]]
localPort = 43501
externalPort = 6000

[[ports]]
localPort = 44035
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
