.skeleton[data-v-aa1666fc]{height:1.5rem;width:100%}@keyframes pulse-aa1666fc{50%{opacity:.5}}.skeleton[data-v-aa1666fc]{animation:pulse-aa1666fc 2s cubic-bezier(.4,0,.6,1) infinite;border-radius:.375rem;background-color:#27272a80}
