.skeleton[data-v-b1dfcc1f]{height:1.5rem;width:100%}@keyframes pulse-b1dfcc1f{50%{opacity:.5}}.skeleton[data-v-b1dfcc1f]{animation:pulse-b1dfcc1f 2s cubic-bezier(.4,0,.6,1) infinite;border-radius:.375rem;background-color:#27272a80}
